@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body{
  padding: 0;
  margin: 0;

}
body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300; /* Light */
  font-size:14px;
  overflow:hidden;
  height: 100%;
}

h1 {
  font-weight: 800; /* Extra-Bold */
}
#app{
  overflow: hidden;
  position: relative;
}
::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-thumb {
background: #888;

}

