@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body{
  padding: 0;
  margin: 0;

}
body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300; /* Light */
  font-size:14px;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800; /* Extra-Bold */
}

.p-select-list-container{
  background:#fff;
  margin-top:4px;
  max-height: 14rem;
  text-align: center;
  padding-left: 9px;
  font-size: 15px;
  border-radius: 6px;

}
